/* Table Style */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;

}

body {
    background: linear-gradient(242.06deg, #428AF7 15.6%, rgba(41, 206, 196, 0) 101.16%);
    width: 100%;
    height: 100%;
}

.Menu {
    position: fixed;
    width: 18vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.menu_btn_wrapper {
    width: 100%;
    height: 80%;
}

.button_menu_text {
    display: block;
    margin: 10px auto;
    width: 80%;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    border: none;
    padding: 4px 0px;

}

.button_menu_text:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background: #d6d6d6;
}


@keyframes menu_glowing {
    0% {
        background-color: rgba(217, 217, 217, 0.51);
    }
    50% {
        background-color: rgba(217, 217, 217, 1);
    }
    100% {
        background-color: rgba(217, 217, 217, 0.51);
    }
}

.Button_profile {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-top: 39px;
    background: #D9D9D9;
    border-radius: 67px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: infinite 1.8s menu_glowing;
}

.menu_fullname_placeholder {
    display: block;
    height: 24px;
    background-color: #D9D9D9;
    width: 130px;
    margin: 3px;
    border-radius: 3px;
    animation: infinite 1.8s menu_glowing;
}

.profile_wrapper {
    height: 20%;
    margin: 0px auto;
    width: 80%;

}

.profile_name {
    display: inline-block;
    width: 100px;
    height: 85px;
    top: 40px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    cursor: pointer;
    color: #FFFFFF;
}

.profile_name:hover {
    cursor: pointer;
    color: #cfcfcf;
    text-decoration: none;
}

.Exit {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;

    display: block;
    width: 80%;

    background: #F33B3B;
    border-radius: 10px;
    border: none;
    padding: 6px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;

    color: white;
}

.Exit:hover {
    background: #c93030;
    color: white;
}

#task_list {

    width: 378px;
    height: 70px;


    font-style: normal;
    font-weight: 500;
    font-size: 40px;

    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #fcfcfc;


}

.main_content {
    width: 82vw;
    min-height: 100vh;
    float: right;

}

.tasks_page {
    padding: 20px;
}

body::-webkit-scrollbar {
    width: 0;
}

.task_info {
    font-size: 20px;
    color: black;
}

.task_title {
    color: #428af6;
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0px 10px 0px;
}


.header_content_task {
    position: relative;
    margin-bottom: 30px;
}

.tasks_page .hr {
    display: block;
    background-color: #428af6;
    height: 1px;
    margin: 20px 0px;
}

.task_field {
    background: #FFFCFC;
    border-radius: 10px;
    padding: 20px;

}

.task_cheklist {
    background: #FFFCFC;
    border-radius: 10px;
    padding: 20px;
}

.task_cheklist input, .task_cheklist p {
    display: inline-block;
}

.task_subtasks {
    padding: 20px;
    background: #FFFCFC;
    border-radius: 10px;

}

.field_text {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;


    color: #FFFFFF;
}

.checklist_item {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e8e8e8;
}

.checklist_item .task_info {
    margin-left: 10px;
}

.block_C2 {
    width: auto;
}

.block_C3 {
    width: auto;
    margin-top: 6px;
}

.delete_item_btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: transparent;
    border: black 1px solid;
    display: inline-block;
}

.delete_item_btn:hover {
    border: #F33B3B 1px solid;
    background-color: #F33B3B;
    color: white;
}

.input_field {
    width: 437px;
    height: 41px;
    background: #AED6D6;
    border-radius: 10px;
}

.button_add {
    width: 35px;
    height: 35px;
    background: #D9D9D9;
    border-radius: 49.5px;
    margin-left: 5px;
}

.task_member {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #428af6;
}

.task_member * {
    display: inline-block;
    margin: 3px;
}

.task_member_photo {
    width: 40px;
    height: 40px;
    background-color: #428af7;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.placeholder {
    display: inline-block;
    width: 40%;
    height: 35px;
    background-color: #7ea7f3;
    border-radius: 3px;
    animation: glowing 1.6s infinite;
}

.placeholder_description {
    height: 150px;
}

@keyframes glowing {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}