/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* main style */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    242.06deg,
    #428af7 15.6%,
    rgba(41, 206, 196, 0) 101.16%
  );
  width: 100%;
  height: 100%;
}

/* end main style */

/* bar style */

.Menu {
  position: fixed;
  width: 18vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.menu_btn_wrapper {
  width: 100%;
  height: 80%;
}

.button_menu_text {
  display: block;
  margin: 10px auto;
  width: 80%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  border: none;
  padding: 4px 0px;
}

.button_menu_text:hover {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #d6d6d6;
}

@keyframes glowing {
  0% {
    background-color: rgba(217, 217, 217, 0.51);
  }
  50% {
    background-color: rgba(217, 217, 217, 1);
  }
  100% {
    background-color: rgba(217, 217, 217, 0.51);
  }
}

.Button_profile {
  display: inline-block;
  width: 85px;
  height: 85px;
  margin-top: 39px;
  background: #d9d9d9;
  border-radius: 67px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: infinite 1.8s glowing;
}

.menu_fullname_placeholder {
  display: block;
  height: 24px;
  background-color: #d9d9d9;
  width: 130px;
  margin: 3px;
  border-radius: 3px;
  animation: infinite 1.8s glowing;
}
.profile_wrapper {
  height: 20%;
  margin: 0px auto;
  width: 80%;
}

.profile_name {
  display: inline-block;
  width: 100px;
  height: 85px;
  top: 40px;
  line-height: 26px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
}

.profile_name:hover {
  cursor: pointer;
  color: #cfcfcf;
  text-decoration: none;
}

.Exit {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;
  display: block;
  width: 80%;
  background: #f33b3b;
  border-radius: 10px;
  border: none;
  padding: 6px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.Exit:hover {
  background: #c93030;
  color: white;
}

/* end bar style */

/* admin page style */

.main_content {
  width: 82vw;
  min-height: 100vh;
  float: right;
}

.admin_page {
  padding: 20px;
}

.admin_page_content {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px 10px;
}

.admin_title {
  font-size: 20px;
  font-weight: 300;
  color: #428af6;
  font-weight: 600;
}

.modal-body p {
  color: #428af6;
  font-weight: bold;
  font-size: 15px;
  margin: 15px 0px 10px 0px;
}

.modal-body hr {
  display: block;
  background-color: #428af6;
  height: 1px;
  margin: 50px 0px;
  width: 100%;
}

.create_project_input {
  background-color: rgba(66, 138, 246, 0.3);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #428af6;
  width: 90%;
  padding: 5px 10px;
}

.create_project_input::placeholder {
  color: #428af6;
}

/* end admin page style */
