/* Table Style */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    242.06deg,
    #428af7 15.6%,
    rgba(41, 206, 196, 0) 101.16%
  );
  width: 100%;
  height: 100%;
}

.Menu {
  position: fixed;
  width: 18vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.menu_btn_wrapper {
  width: 100%;
  height: 80%;
}

.button_menu_text {
  display: block;
  margin: 10px auto;
  width: 80%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  border: none;
  padding: 4px 0px;
}

.button_menu_text:hover {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #d6d6d6;
}

@keyframes glowing {
  0% {
    background-color: rgba(217, 217, 217, 0.51);
  }
  50% {
    background-color: rgba(217, 217, 217, 1);
  }
  100% {
    background-color: rgba(217, 217, 217, 0.51);
  }
}

.Button_profile {
  display: inline-block;
  width: 85px;
  height: 85px;
  margin-top: 39px;
  background: #D9D9D9;
  border-radius: 67px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: infinite 1.8s glowing;
}

.menu_fullname_placeholder {
  display: block;
  height: 24px;
  background-color: #D9D9D9;
  width: 130px;
  margin: 3px;
  border-radius: 3px;
  animation: infinite 1.8s glowing;
}
.profile_wrapper {
  height: 20%;
  margin: 0px auto;
  width: 80%;
}

.profile_name {
  display: inline-block;
  width: 100px;
  height: 85px;
  top: 40px;
  text-decoration: none;
  font-style: normal;
  line-height: 35px;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  color: #FFFFFF;
}

.profile_name:hover {
  cursor: pointer;
  color: #cfcfcf;
  text-decoration: none;
}

.Exit {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;

  display: block;
  width: 80%;

  background: #f33b3b;
  border-radius: 10px;
  border: none;
  padding: 6px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */

  text-align: center;

  color: white;
}

.Exit:hover {
  background: #c93030;
  color: white;
}

#project_list {
  width: 378px;
  height: 70px;

  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  text-align: center;
  text-shadow: 1px 1px 1px #000;
  color: #fcfcfc;
}

.project_content {
  display: inline-block;
  width: 82vw;
  min-height: 100vh;
  float: right;
}

.projects_page {
  padding: 20px;
}

.header_content_project {
  position: relative;
  margin-bottom: 20px;
}

.exit_field {
  width: 304px;
  height: 54px;
  left: 37px;
  top: 860px;
}

.create_project {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.inner_project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.create_project p {
  color: #428af6;
  font-weight: bold;
  font-size: 24px;
  margin: 15px 0px 10px 0px;
}

.create_project hr {
  display: block;
  background-color: #428af6;
  height: 1px;
  margin: 50px 0px;
  width: 100%;
}

.create_project_input {
  background-color: rgba(66, 138, 246, 0.3);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #428af6;
  width: 90%;
}

.create_project_input::placeholder {
  color: #428af6;
}

.create_project_main {
  width: 50%;
}

.create_project_members {
  width: 50%;
}

@media (max-width: 850px) {
  .create_project_members {
    width: 60vw;
  }

  .create_project_main {
    width: 60vw;
  }
}

.create_project_main input {
  height: 30px;
  padding: 5px 7px;
}

.create_project_main textarea {
  padding: 10px 7px;
}

.project_invite_members {
  width: 90%;
  border: #428af6 solid 1px;
  border-radius: 5px;
  padding: 10px;
  max-height: 44vh;
  overflow: auto;
}

.project_member {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  color: #428af6;
}

.project_member * {
  display: inline-block;
  margin: 3px;
}

.project_member_photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.create_project button {
  background-color: white;
  border: #428af6 solid 1px;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  color: #428af6;
}

.create_project button:hover {
  color: white;
  background-color: #428af6;
}

.task_field .placeholder {
  background-color: #295705;
}



